body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden !important;
	font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
}
#root {
	height: 100vh;
	width: 100vw;
}

#app {
	height: 100%;
}

@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-ExtraLight.ttf') format('opentype');
	font-weight: 200;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-Light.ttf') format('opentype');
	font-weight: 300;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-Regular.ttf') format('opentype');
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-Medium.ttf') format('opentype');
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-Bold.ttf') format('opentype');
	font-weight: bold;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

input[type='range'] {
	background-image: linear-gradient(var(--color-primary), var(--color-primary));
	background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
	appearance: none !important;
	border-radius: 0 25px 25px 0;
	width: 10px;
	height: 8px;
	background-color: var(--color-primary);
	/* display: none; */
}
input[type='range']::-webkit-slider-thumb {
	appearance: none !important;
	border-radius: 0 25px 25px 0;
	width: 10px;
	height: 8px;
	/* background-color: var(--color-primary); */
	/* display: none; */
}

.volume-container > input[type='range'] {
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.volume-container:hover > input[type='range'] {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.volume-container:hover ~ p.video_time {
	position: relative;
	left: 0;
}

.ReactCrop__drag-handle::after {
	background: var(--color-primary);
}

.ReactCrop__drag-handle.ord-n::after,
.ReactCrop__drag-handle.ord-s::after {
	width: 20px;
	transform: translateX(-50%);
}

.ReactCrop__drag-handle.ord-w::after,
.ReactCrop__drag-handle.ord-e::after {
	height: 20px;
	transform: translateY(-50%);
}
.ReactCrop__drag-handle.ord-nw::after {
	clip-path: polygon(100% 40%, 40% 40%, 40% 100%, 0 100%, 0 0, 100% 0);
	width: 20px;
	height: 20px;
}

.ReactCrop__drag-handle.ord-sw::after {
	clip-path: polygon(40% 60%, 100% 60%, 100% 100%, 0 100%, 0 0, 40% 0);
	width: 20px;
	height: 20px;
}

.ReactCrop__drag-handle.ord-ne::after {
	clip-path: polygon(100% 0, 100% 100%, 60% 100%, 60% 40%, 0 40%, 0 0);
	width: 20px;
	height: 20px;
}

.ReactCrop__drag-handle.ord-se::after {
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%, 60% 60%, 60% 0);
	width: 20px;
	height: 20px;
}

img.kenburns-effect {
	animation: kenburns 2s infinite alternate-reverse;
}

button.outline-none {
	outline: none !important;
}

.scrollbar_custom.scrollbar_small::-webkit-scrollbar {
	width: 3.71px;
	background: transparent;
	border-radius: 25px;
	z-index: 3;

	overflow: hidden;
}

.scrollbar_custom.scrollbar_small::-webkit-scrollbar-thumb {
	background: #aecfff;
	width: 3.71px;
	border-radius: 25px;
	z-index: 3;
}
.scrollbar_custom.scrollbar_small::-webkit-scrollbar-track {
	background: transparent;
	z-index: 3;
}

.scrollbar_custom.scrollbar_small::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 100px;
}

/* .scrollbar_custom.scrollbar_small::-webkit-scrollbar-track-piece:start {
	background: red;
	margin-top: 50px;
} */

.transcript-container::after {
	content: '';
	position: absolute;
	border-radius: 25px;
	height: calc(100% - 200px);
	transform: translateY(67px);
	right: 11px;
	width: 5px;
	background: #e8f0fd;
	z-index: 1;
}

@keyframes kenburns {
	from {
		scale: var(--scaleX) var(--scaleY);
	}
	to {
		scale: 1 1;
	}
}

span.bg-blue-300.select-none span {
	color: #fff;
}

.progress_bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 8px;
	animation: progressing 4s ease-in-out infinite;
	filter: blur(8px);
	z-index: 1;
}

@keyframes progressing {
	from {
		background-color: hsl(217, 84%, 65%);
		left: 0;
	}
	to {
		background-color: hsl(217, 84%, 85%);
		left: var(--width);
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
